@use 'base/variables' as v;
@use 'base/mixins' as m;


.header{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    .logo{
        display: block;
        p{
            color:v.$vino;
            font-weight: v.$bold;
            font-size: 3rem;
            margin: 0;
            text-align: right;
            span{
                color: v.$dorado;
            }
        }
    }

    .actions{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
        width: 30%;
        gap: 1rem;

        
        .login{
            background-color: v.$vino;
            border-radius: 5rem;
            padding: 1.5rem 2.5rem;
            color: v.$blanco;
            width: 50%;
            margin: 1rem;
            text-align: center;
        }
        .carrito{
            background-color: v.$vino;
            border-radius: 5rem;
            height: 5rem;
            width: 12rem;
            color: v.$blanco;
            background-image: url('../img/cart.png');
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: center;
        }

        .carrito{
            background-color: v.$vino;
            border-radius: 5rem;
            height: 5rem;
            width: 12rem;
            color: v.$blanco;
            background-image: url('../img/cart.png');
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: center;
        }

        .wishlist{
            background-color: v.$vino;
            border-radius: 5rem;
            height: 5rem;
            width: 12rem;
            color: v.$blanco;
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="%23ffffff" d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"%3E%3C/path%3E%3C/svg%3E');

            background-size: 40%;
            background-repeat: no-repeat;
            background-position: center;
        }



    }
}

.search-bar{
    display: flex;
    align-items: center;
    margin: 0 3rem;
    width: 70%;
    .buscador{
        position: relative;
        flex: 1;
        display: inline-block;
    }
    input[type="text"]{
        border: none;
        padding: 1.5rem 3rem;
        background-color: v.$gris;
        flex: 1;
        border-radius: 5rem;
        width: 100%;
    }

    .search-button{
        margin: 0 1rem;
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background-image: url('../img/searchIcon.png');
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
    }
}


.navegacion{
    display: flex;
    background-color: v.$vino;
    margin-bottom: 2rem;
    a{
        color: v.$blanco;
        padding: 2rem 5rem;
        font-size: 1.8rem;
        &:hover{
            background-color: v.$vino;
        }
        &.active{
            background-color: v.$vino;
        }
    }
}

